/* @import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: andale mono,monospace;
    font-size:20px;
}

.html {
    scroll-behavior: smooth;
    color: black;

}

/* Global Styles */

.heading-1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

.heading-2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

.heading-3 {
    color: #222;
}

.heading-6 {
    font-weight: 700;
    font-size: 12px;
}

.paragraph {
    font-size: 20px;
    color: #282612;
    margin: 15px 0 20px 0;
}



.section-padding {
    padding: 40px 80px;
}

.section-margin {
    margin: 40px 0;
}




/* Header Section*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 80px;
    background: #FF5733;
    /* box-shadow: 0 5px 25px rgba(0,0,0,0.6); */
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    /* height: 90px; */
}

.logo{
    height: 90px;
    width:90px;
}




.body-content {
    width: 100%;
    background: #F0F0F0;
}

.navbar {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}


/* Search box */
.form {
    position: relative;
    display: inline-block;
}
.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af;

}
.form-input {
    display: inline-block;
    height: 60px;
    width: 600px;
    padding-top: 5px;
    text-indent: 40px;
    border-radius: 10px;
    padding-right: 25px;
}
.form-input:focus {

    box-shadow: none;
    border: none;
}
.form-input::placeholder{
    color:#333333;
}
#clear-button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    z-index: 1;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;

}

/* #filter-listing{
    background: #e4ddf4;
} */

/* Filter Listing */
.sidebar {
    width: 15%;
    height:100%;
    position: fixed;
    /* min-width: 250px;
    max-width: 250px; */
    background: #F0F0F0;
    color: rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:10px;
    overflow-y: auto;
    border: 1px solid #28133A;
    border-radius: 25px;
}
.display-name{
    font-size: 20px;
    font-weight: bold ;
    
}

/* Product Section */
.content {
    width: 85%;
    height: 100%;
    text-align: center;
    /* background: #e4ddf4; */
    overflow-y: auto;
    margin-left:15%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;

}

.pro-container {
    /* display: block; */
    display: flex;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    /* padding-right: 50px; */
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 25px;
    position: relative;
    align-items: strech;
}

.pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #28133A;
    border-radius: 25px;
    border-top-width: 5px;
    border-bottom-width:5px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 16px 16px;
    transition: 0.2s ease;
    position: relative;
    background: #F0F0F0;
}

.pro-container  .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transform: scale(1.1);
}

.pro-img {
    width: 100%;
    border-radius: 25px;
}

.des {
    text-align: start;
    padding: 10px 0;
}
.des-h5 {
    padding-top: 7px;
    color: #2d2d2d;
    font-size: 20px;
    font-style: italic ;
}

.des-h4 {
    padding-top: 7px;
    font-size: 20px;
    font-weight: 700;
    color: #2d2d2d;
    font-style: italic ;
}

  /* Pagination Section */
.page-container {

    display: block;
    margin: 0 auto;
}
.pagination{
    width:100%;
    display:flex;
    justify-content: center;
}
.page-item li{
    cursor: pointer;
    background-color:#28133A;
}
.active{
    background-color:#28133A
}




/* PDP page */
.content-pdp{
   margin: 50px 50px;
   border: 2px solid black;
   padding: 20px 20px;
}

.basic{
    display:flex;
    flex:wrap; 
    padding-bottom: 20px; 
}
.basic-image{
  height:300px;
  width:300px;  
}
.basic-detail{
    padding-left: 50px;
}
.group{
    color: #282612;
}
.pdp-detail{
    display:flex;
    flex:wrap; 
}
.pdp-detail-key{
    width: 30%;
}
.pdp-detail-value{
    width:60%;
}
.desc{
    border: 2px solid black;
    border-top-width: 5px;
    border-bottom-width:5px;
    border-radius: 10px;
    padding-left: 30px;
}
.btn{
    margin-bottom: 20px;
}

